/SetOperationsTests_*.java
/SetOperationsTestsTest*.java
/SetOperationsPrecedenceTests_*.java
/SetOperationsPrecedenceTestsTest*.java
/SetOperationsCompareTests_*.java
/SetOperationsCompareTestsTest*.java
